body {
 background: #ccc;
}
.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 500px;
    position: relative;
    margin: 100px auto;
}
.flip .loginCard.flipped {
  -webkit-transform: rotatex(90deg);
}
.flip .loginCard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.0s;
}
.flip .loginCard .card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .loginCard .logo {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .loginCard .login {
  -webkit-transform: rotatex(90deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
